<style>
.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space space-evenly;
    align-items: center;
}

</style>
