<style>
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
}

body {
    background-image: url("grey_@2X.png");
    background-repeat: none;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    display: inline-flex;
    flex: 1;
    background-color: lightgray;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: relative;
    left: 10px;
    padding: 10px 25px 10px 25px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-decoration: underline;
    position: relative;
    left: 10px;
    padding: 10px 25px 10px 25px;
}

ol {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px 25px 10px 25px;
}

li {
    display: flex;
    padding: 10px 25px 10px 25px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
.row::after {
    content: "";
    clear: both;
    display: table;
  }

form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px 25px 10px 25px;   
}

button {
    border-radius: 5px;
    color: lightgray;
    padding: 5px 10px 8px 10px;
    color: black;
}

button:hover {
    animation-name: background-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;    
}

@keyframes background-color {
    100% {
        background-color: #4791d0;
    }
}

footer {
    display: flex;
    flex: 1;
    background-color: lightgray;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 20px 20px 20px 20px;
}

@media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }

</style>