<style>
.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
 
}

body {
    background-image: url("grey_@2X.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
    
}

.navbar {
    display: inline-flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: red;
}

.navitems {
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

</style>
